
//- link(rel='stylesheet',href='https://s3-us-west-2.amazonaws.com/pesticide/1.2.0/pesticide.min.css')

link(rel='stylesheet',href='css/plugins/ress.css')
link(rel='stylesheet',href='css/plugins/swiper.css')
link(rel='stylesheet',href='css/plugins/jquery.sidr.light.css')
link(rel='stylesheet',href='css/plugins/balloon.css')
link(rel='stylesheet',href='css/plugins/font-awesome.css')

//- The Main CSS File, complied!!!
link(rel='stylesheet',href='css/main.css')


link(rel='shortcut icon',href='favicon.ico')
link(rel='apple-touch-icon',href='apple-touch-icon.png')
