


// checkbox animation in login form

@keyframes tick{
  0%{
    @include transform(scale(0))
  }

  90%{
    @include transform(scale(1.4))
  }

  100%{
    @include transform(scale(1))
  }
}






// Heart beats in made by love by codzin in footer

@keyframes heartbeat {
  0% {
    @include transform(scale(1));
  }
  15% {
    @include transform(scale(1.2));
  }
  20% {
    @include transform(scale(1.1));
  }
  35% {
    @include transform(scale(1.3));
  }
  50% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(1));
  }

}


// Loader

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

