/* =======================================================================
WebSite Side Menu
========================================================================== */

.sidr{
  display:block;
  position:fixed;
  top:0;
  height:100%;
  z-index:999999;
  width:300px;
  overflow-x:hidden;
  overflow-y:auto;
  background-color: $aaa;
  color: #fff;
  padding: 20px;
  border-left: 2px solid #fff;
}

.sidr.right{
  left:auto;
  right:-360px;
}

.sidr.left{
  left:-360px;
  right:auto;
}

/* =======================================================================
WebSite Wrapper
========================================================================== */

#wrapper {
    background: transparent;
    @include breakpoint-label;
    display: none;
}


/* =======================================================================
Top Bar
========================================================================== */

.top_bar{
  overflow: hidden;
  height: 40px;
  background: darken($navy, 5%);
  .logo{
    // padding: 6px;
    @include span(first 3);
    .side-menu{
      display: inline-block;
      padding: 8px;
      color: $white;
      cursor: pointer;
    }
    a{
      padding-right: 5px;
    }
  }
  .search_form{
    // position: relative;
    // padding: 6px;
    text-align: left;
    max-height: 40px;
    @include span(last 9);
    .closemodal{
      position: relative;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
      .closebt{
        transition: all 0.2s;
        cursor: pointer;
        &:hover{
          transform: rotate(90deg);
        }
      }
    }
    #login-link{
      padding: 9px;
      display: inline-block;
      .icon-user{
        color: $white;
      }
    }
    h3{
      text-align: center;
      margin-top: 20%;
    }
    .login-form{
      display: none;
    // position: fixed;
      @include center('both');
      z-index: 999;
      color: #fff;
      width: 350px;
      background: $navy;
      padding: 30px;
      button{
        width: 100%;
        display: block;
      }
      input:not([type="checkbox"]){
        background: darken($navy, 5%);
        width: 100%;
        color: $white;
      }

    }


    form.search{
      background-color: $navy;
      @include mq('medium'){
        display: none;
      }
      display: inline-block;
      max-height: 40px;
      input{
        width: 200px;
        color: $white;
        border: 0;
      }
      select{
        color: #596c80;
        border: 0;
        width: 130px;
      }
      button{
        width: 30px;
        height: 40px;
        max-height: 40px;
        padding: 0px;
        margin: 0;
        background-color: transparent;
        color: #fff;
      }
    }
  }
}

header{
  @include sgradient(linear,left,((#FF5F6D,0%),(#FFC371,100%)));
  .main-menu{
    text-align: center;
    height: 100px;
    background-color: rgba(255,255,255,0.7);
    .main_logo{
      @include span(first 3);
      padding: 20px;
      img{
        min-width: 187px;
        height: 60px;
      }
      @include mq('medium'){
        @include span(12);
      }
    }
    button{
      display: none;
      @include mq('medium'){
        display: block;
        height: 39px;
        color: #fff;
      }
    }
    nav{
      // max-height: 100px;
      @include span(last 9);
      ul{
        padding: 40px;
        list-style-type: none;
        li{
          display: inline-block;
          padding: 0 8px;

        }
      }
      @include mq('medium'){
        @include span(12);
        display: none;
        background-color: #FFF;
        ul{
          width: 100%;
          padding: 0;
          li{
            padding: 10px;
            display: block;
            &:hover{
              color: #FFF;
              background-color:$navy;
              a{color: #FFF;}
            }
            a{
              padding: 10px;
            }
          }
        }
      }

    }
  }
}



/* =======================================================================
Header
========================================================================== */






.banner {
}






/* =======================================================================
Footer
========================================================================== */
#footer {
  // @include clearfix;
  p{
    text-align: center;
    width: 100%;
  }
  
  #heart {
    position: relative;
    width: 20px;
    height: 12px;
    display: inline-block;
    animation: heartbeat 1s infinite;

    &:before,
    &:after {
      position: absolute;
      content: "";
      left: 10px;
      top: 0;
      width: 10px;
      height: 16px;
      background: red;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }

    &:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }
  } 

}



/* - Go top - */
.go-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  width: 30px;
  height: 30px;
  svg {
    cursor: pointer;
  }
}

/* =======================================================================
Nav
========================================================================== */
.primary-nav {
}





.content{
  // @include clearfix;
  p{
    @include text-shadow(0.5);
  }
}




